* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

header {
  width: 100%;
  height: 71px;
  background-color: rgb(47, 47, 47);
}

#Title {
  color: black;
  font-size: 53px;
  font-weight: initial;
  text-align: center;
  min-height: 110px;
  padding-top: 115px;
}

nav#mu {
  text-align: center;
  margin-top: 10px;
}

nav#mu a {
  margin: 0 10px;
  font-size: 20px;
  color: white;
}

main {
  text-align: center;
  margin-top: 10px;
}
